body {
  font-family: "Yeseva One", cursive;
  margin-top: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-image: url("https://images.pexels.com/photos/2664185/pexels-photo-2664185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.input {
  padding: 8px;
  border: 0px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 14px;
  min-width: 245px;
  font-family: "Yeseva One", cursive;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.get-pairings {
  display: inline-block;
  padding: 8px 16px;
  background-color: #c09e68;
  border: 0px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Yeseva One", cursive;
}

.get-pairings:hover {
  background-color: #bb8c41;
}
